@import './vars';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    letter-spacing: .025em;
    background: color(background);
}
